html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #222;
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.04em;
  margin: 0 0 10px;
}

p {
  margin: 0 0 10px;
}

a,
button {
  transition: all 0.3s ease;
  color: inherit;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

button {
  border: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 12px;
}

button:hover,
button:focus {
  outline: 0;
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.brand {
  color: #1db954;
}

.login-btn {
  display: inline-block;
  border-radius: 30px;
  background-color: #1db954;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  padding: 12px 32px;
}

.login-btn:hover {
  text-decoration: none;
  filter: brightness(1.1);
}

.logout-btn {
  background-color: #000000b3;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  border-radius: 30px;
}
